h1 {
  color: #ff0000;
  font-size: 50px;
}
.project-tile {
  float: left;
  margin: 0 5px;
}
.project-tile-container {
  width: 59%;
  margin: auto;
}
body .container {
  background-color: #FAFAFA;
}
footer .container {
  background-color: lightgrey;
}
